.main {
  height: auto;
  width: auto;
  justify-content: center;
  place-items: center;
  display: flex;
}

.iconContainer {
  height: 40px;
  width: 40px;
  background-color: #ecf4ff;
  border-radius: 8px;
  justify-content: center;
  place-items: center;
  display: flex;
  transition-duration: 0.3s;
  cursor: pointer;
}

.iconContainer:hover {
  background-color: #0d63f3;
}

.iconContainer:hover > .icon {
  color: white;
}

.icon {
  font-size: 19px;
  transition-duration: 0.5s;
  color: #0d63f3;
}