.userButton {
  background-image: linear-gradient(
    to right,
    rgba(77, 94, 246, 0.22) 20%,
    rgba(246, 77, 77, 0.23) 90%
  );
  border: none;
  height: 100%;
  border-radius: 8px;
  min-width: 75px;
  transition-property: background-color;
  cursor: pointer;
  transition: all 0.3s;
}

.userButton:hover {
  color: #ecf4ff;
  background-color: rgba(246, 77, 77, 0.666);
  scale: 105%;
}
